*{
    padding:0;
    margin: 0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

:root{
    --primary-color: #d17d00; /* A warm, coffee-inspired color */
}

body{
    height: 100%;
    margin: 0;
    background: #eceff1;
}

.container{
    display: flex;
    align-items: center; /* Vertically center the contents */
    justify-content: center; /* Horizontally center the contents */
    height: 100vh; /* Full viewport height */
    padding-top: 50px; /* Add some space from the top */
    padding-bottom: 100px; /* Add some space from the bottom for the footer */
    background-image: url("images/backgroundlogin.webp");
    background-size: cover;
    position: relative; /* Needed for absolute positioning of children */
}

.box{
    background: #ffe8d6; /* A light cream color that matches the coffee theme */
    background: linear-gradient(135deg, #ffe8d6, #dbb180); /* A gradient from light cream to a warm coffee color */
    padding: 25px 25px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Adding some shadow for depth */
    color: #5C4033;
}

.form-box{
    width:400px;
    margin: 0px 10px;
}

.form-box h1{
    font-size:25px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
    margin-bottom: 10px;
    text-align: center;

}

.form-box .input{
    display:flex;
    margin-bottom: 10px;
    flex-direction: column;
}

.form-box .input input{
    height: 45px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border-radius: 5px;
    border: 2px solid #eee;
    outline: none;
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
    transition: border-color 0.3s;
}

.btn-field{
    width: 70%;
    margin: 0 auto;
   
}

.btn{
    height:70px;
    background: #d17d00;
    border: 0;
    border-radius: 8px;
    color: white;
    font-size: 40px;
    cursor: pointer;
    transition: all .3s;
    margin-top: 25px;
    padding: 0px 10px;
    transition: background-color 0.3s, transform 0.2s;
}

.btn:hover{
    opacity: 0.7;
}

.submit{
    width: 100%;
}

.link{
    margin-bottom: 20px;
    text-align: center;

}

.link a{
    text-decoration:none;
    color: blue;
}
.link a:hover{
    color: #d17d00;
    text-decoration: none; 
}

.message {
    font-size: 20px;
    text-align: center;
    background: #fff3cd; 
    padding: 15px;
    border: 1px solid #000000; 
    border-color: #ffeeba;
    margin-bottom: 10px;
    color: #856404; 
    
}
.message2 {
    font-size: 20px;
    text-align: center;
    background: #161515; 
    padding: 15px;
    border: 1px solid #000000; 
    border-radius: 5px;
    margin-bottom: 10px;
    color: rgb(0, 248, 95); 
    
}

@media screen and (max-width: 768px) {
    .form-box {
        width: 90%;
    }
}

@media screen and (max-width: 576px) {
    .form-box {
        width: 100%;
    }
}

